<section class="compare" data-background="{{ asset('img/kohle.jpg') }}" data-fullscreen>
    <div class="greenbg caption" id="caption">Teamvergleich</div>

    <div class="row clearfix" style="margin-top:20px">
        <div class="home"><span class="{% if homeplatz <= awayplatz %}greenbg{% else %}redbg{% endif %}">{{ homeplatz }}</div>
        <div class="middle greybg">Tabellenplatz</div>
        <div class="away"><span class="{% if homeplatz >= awayplatz %}greenbg{% else %}redbg{% endif %}">{{ awayplatz }}</div>
    </div>
    <div class="row clearfix">
        <div class="home"><span class="{% if homepunkte >= awaypunkte %}greenbg{% else %}redbg{% endif %}">{{ homepunkte }}</span></div>
        <div class="middle greybg">Punkte</div>
        <div class="away"><span class="{% if homepunkte <= awaypunkte %}greenbg{% else %}redbg{% endif %}">{{ awaypunkte }}</span></div>
    </div>
    <div class="row clearfix">
        <div class="home"><span class="{% if hometore-homegegentore >= awaytore-awaygegentore %}greenbg{% else %}redbg{% endif %}">{{ hometore }}:{{ homegegentore }}</span></div>
        <div class="middle greybg">Torverhältnis</div>
        <div class="away"><span class="{% if hometore-homegegentore <= awaytore-awaygegentore %}greenbg{% else %}redbg{% endif %}">{{ awaytore }}:{{ awaygegentore }}</span></div>
    </div>
    <div class="row clearfix">
        <div class="home"><span class="{% if homescorerpunkte >= awayscorerpunkte %}greenbg{% else %}redbg{% endif %}">{{ homescorer }}&nbsp;<br><i>({{ homescorerpunkte }} Punkte)</i></span></div>
        <div class="middle greybg">Topscorer<br><small>&nbsp;</small></div>
        <div class="away"><span class="{% if homescorerpunkte <= awayscorerpunkte %}greenbg{% else %}redbg{% endif %}">{{ awayscorer }}<br>&nbsp;<i>({{ awayscorerpunkte }} Punkte)</i></span></div>
    </div>
    <div class="row clearfix">
        <div class="home"><span class="{% if homegefahrpunkte >= awaygefahrpunkte %}greenbg{% else %}redbg{% endif %}">{{ homegefahr }}&nbsp;<br><i>({{ homegefahrpunkte }} Tore)</i></span></div>
        <div class="middle greybg">Gefährlich<br><small>&nbsp;</small></div>
        <div class="away"><span class="{% if homegefahrpunkte <= awaygefahrpunkte %}greenbg{% else %}redbg{% endif %}">{{ awaygefahr }}<br>&nbsp;<i>({{ awaygefahrpunkte }} Tore)</i></span></div>
    </div>
    <div class="row clearfix">
        <div class="home"><span class="{% if homebadboypunkte >= awaybadboypunkte %}greenbg{% else %}redbg{% endif %}">{{ homebadboy }}&nbsp;<br><i>({{ homebadboypunkte }} Strafminuten)</i></span></div>
        <div class="middle greybg">Bad Boy<br><small>&nbsp;</small></div>
        <div class="away"><span class="{% if homebadboypunkte <= awaybadboypunkte %}greenbg{% else %}redbg{% endif %}">{{ awaybadboy }}<br>&nbsp;<i>({{ awaybadboypunkte }} Strafminuten)</i></span></div>
    </div>
    <div class="row clearfix">
        <div class="home"><img src="https://www.herner-ev.com/components/com_hockeymanager_clubs/assets/img/{{ hometeam.logo }}" width="80" height="80" align="center"></div>
        <div class="middle">&nbsp;</div>
        <div class="away"><img src="https://www.herner-ev.com/components/com_hockeymanager_clubs/assets/img/{{ awayteam.logo }}" width="80" height="80" align="center"></div>
    </div>
</section>