<section class="schedule" data-background="{{ asset('img/bg.png') }}" data-fullscreen>
    <div class="greenbg caption" id="caption">{{ caption | default('') }}</div>
    <table>
        <tbody>
        {% for game in games %}
            {% if game.gamedate != "now" | date('Y-m-d') %}
            <tr>
                <td>
                    {{ game.gamedate | date("d.m.Y") }}<br>
                    {{ game.gametime }} Uhr
                </td>
                <td>
                    <img align="left" data-src="https://www.herner-ev.com/components/com_hockeymanager_clubs/assets/img/cache/50x50/{{ game.hometeam.logo }}">
                    {% if 'herne' in game.hometeam.name | lower %}<b>{% endif %}{{ game.hometeam.name }}{% if 'herne' in game.hometeam.name | lower %}</b>{% endif %}
                </td>
                <td align="right">
                    <img align="right" data-src="https://www.herner-ev.com/components/com_hockeymanager_clubs/assets/img/cache/50x50/{{ game.awayteam.logo }}">
                    {% if 'herne' in game.awayteam.name | lower %}<b>{% endif %}{{ game.awayteam.name }}{% if 'herne' in game.awayteam.name | lower %}</b>{% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</section>