<section class="six" data-background="{{ asset('img/kohle.jpg') }}" data-fullscreen>
    <div class="greenbg caption" id="caption">Starting Six</div>
    <div class="clearfix" style="margin:90px 0 50px">
        <div class="player" style="margin-left:98px">
            <div class="number redbg">{{ number_1 }}</div>
            <div>
                <div class="greybg">{{ name_1|upper }}</div>
                <div class="greybg_lighter">{{ firstname_1 }}</div>
            </div>
        </div>
        <div class="player">
            <div class="number redbg">{{ number_2 }}</div>
            <div>
                <div class="greybg">{{ name_2|upper }}</div>
                <div class="greybg_lighter">{{ firstname_2 }}</div>
            </div>
        </div>
        <div class="player">
            <div class="number redbg">{{ number_3 }}</div>
            <div>
                <div class="greybg">{{ name_3|upper }}</div>
                <div class="greybg_lighter">{{ firstname_3 }}</div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="player" style="margin-left:223px">
            <div class="number redbg">{{ number_4 }}</div>
            <div>
                <div class="greybg">{{ name_4|upper }}</div>
                <div class="greybg_lighter">{{ firstname_4 }}</div>
            </div>
        </div>
        <div class="player">
            <div class="number redbg">{{ number_5 }}</div>
            <div>
                <div class="greybg">{{ name_5|upper }}</div>
                <div class="greybg_lighter">{{ firstname_5 }}</div>
            </div>
        </div>
    </div>
    <div class="clearfix" style="margin:0">
        <div class="player" style="margin-left:348px">
            <div class="number redbg">{{ number_6 }}</div>
            <div>
                <div class="greybg">{{ name_6|upper }}</div>
                <div class="greybg_lighter">{{ firstname_6 }}</div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="logo">
            <img src="https://www.herner-ev.com/components/com_hockeymanager_clubs/assets/img/{{ team.logo }}" width="120" height="120" align="center">
        </div>
    </div>
</section>