{% extends 'base.html.twig' %}

{% block body %}
    <div class="reveal">
        <div class="slides">

            <!-- loading screen representing id=0 -->
            <section data-background="{{ asset('img/kohle.jpg') }}">
                <section data-fullscreen>
                    <img data-src="{{ constant('SCHEMA') }}www.herner-ev.com/components/com_hockeymanager_clubs/assets/img/herne.png" width="400" height="400">
                </section>

                <section id="js-goalscorer" class="players" data-fullscreen data-transition="convex">
                    <img src="{{ constant('SCHEMA') }}www.herner-ev.com/components/com_hockeymanager_clubs/assets/img/herne.png" height="512">
                    <div class="greenbg bottom clearfix">
                        <div><img src="{{ constant('SCHEMA') }}www.herner-ev.com/components/com_hockeymanager_clubs/assets/img/herne.png" height="80"></div>
                        <div><h1>#</h1></div>
                        <div><h2>name</h2></div>
                    </div>
                </section>
            </section>

            {% for screen in screens %}
                {% set screenTemplate = 'default/screen/' ~ screen.screenType ~ '.html.twig' %}
                {% include screenTemplate with screen.config %}
            {% endfor %}
        </div>
    </div>

    <div id="js-effect-visual-container"></div>
    <audio id="js-effect-audio-container"></audio>
{% endblock %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reveal.css') }}">
    <link rel="stylesheet" href="{{ asset('css/csshake.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/theme/black.css') }}" id="theme">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/effects.css') }}">
    <link rel="stylesheet" href="{{ asset('css/reveal.table.css') }}">
    <link rel="stylesheet" href="{{ asset('css/reveal.content.css') }}">
    <link rel="stylesheet" href="{{ asset('css/reveal.schedule.css') }}">
    <link rel="stylesheet" href="{{ asset('css/reveal.livegame.css') }}">
    <link rel="stylesheet" href="{{ asset('css/reveal.players.css') }}">
    <link rel="stylesheet" href="{{ asset('css/reveal.othergames.css') }}">
    <link rel="stylesheet" href="{{ asset('css/reveal.six.css') }}">
    <link rel="stylesheet" href="{{ asset('css/reveal.compare.css') }}">
{% endblock %}

{% block javascripts %}
    <script>const SCHEMA = '{{ constant('SCHEMA') }}';</script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/head.min.js') }}"></script>
    <script src="{{ asset('js/reveal.js') }}"></script>
    <script src="{{ asset('js/fullscreen.js') }}"></script>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery.marquee.min.js') }}"></script>
    <script src="{{ asset('js/effects.js') }}?v={{ "now"|date("Ymd") }}"></script>
    <script src="{{ asset('js/custom.js') }}?v={{ "now"|date("Ymd") }}"></script>
{% endblock %}
